.me{
    background-color: #fbff00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}